/* COLORS: https://learnui.design/tools/data-color-picker.html#palette */
#map {
  position: absolute;
  width: 100%;
  height: 100%;
}

#page-content {
  overflow: hidden;
}
.map-overlay {
  position: absolute;
  width: 380px;
  min-width: 380px;
  top: 0;
  right: 40px;
  padding: 10px;
  z-index: 1;
}

.map-overlay .map-overlay-inner {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 10px;
  height: 87px;
  margin-bottom: 10px;
}

.map-overlay table {
  border: none;
  width: 100%;
}

.map-overlay h2 {
  line-height: 24px;
  display: block;
  margin: 0 0 10px;
}

.map-overlay label {
  display: block;
  vertical-align: middle;
  margin: 0 0 0 10px;
  padding: 0;
}

.map-overlay .legend .bar {
  height: 10px;
  width: 100%;
  background: linear-gradient(to right, #fca107, #7f3121);
}

.map-overlay input {
  background-color: transparent;
  display: inline-block;
  width: 100%;
  min-width: 220px;
  position: relative;
  margin: 6px 0 0 0;
  cursor: ew-resize;
}

.map-overlay p.credit {
  margin: 0;
  padding: 0;
}

/* Map Legend */
.map-legend {
  position: absolute;
  bottom: 170px;
  right: 10px;
  border-radius: 4px;
  background: white;
  z-index: 1;
  width: 90px;
  cursor: text;
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
}

.legend-title {
  font-size: 14px;
  line-height: 1.2;
  padding-bottom:4px ;
  font-weight: 500;
  text-align: center;
  border-bottom: thin solid rgb(221, 221, 221);
}
/* TOOLBAR OVERLAY OF INITIAL LOAD */
#toolbar-overlay{
  position: absolute;
  background-image: url(./assets/images/info.png);
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 12px 16px;
  width: 150px;
  top: 10px;
  /* width: 100px; */
  height: 75px;
  z-index: 1000;
  background-color: white;
  font-size: 18px;
  /* padding: 10px 16px; */
  padding-left: 65px;
  padding-top: 15px;
  line-height: 1.2;
  border-radius: 4px;
  left: 10px;
  font-weight: 500;
}
/* box-shadow: inset 0px 0px 0px 1px rgb(0 0 0 / 20%); */
/* TOOLBAR BUTTON */
#toolbar-button.active {
  left: 305px;
  background-image: none;
  top: 15px;
  width: 30px;
  height: 65px;
  border-radius: 4px;
  /* border-radius: 50px; */
  background-image: url(./assets/images/right-arrow.png);
  background-size: 15px;
  background-color: #ff4848;

}
 
#toolbar {
  display: none;
  height: calc(100% - 60px);
  width: 300px;
  margin-left: 22.5px;
  border-radius: 0 0 5px 5px;
  background: rgba(255, 255, 255, 0.39);
  position: absolute;
  top: 50px;
  z-index: 10000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  /* transition: height 1s, width 1s, padding 1s, visibility 1s, opacity 0.5s ease-out; */
}
#toolbar-inner {
  position: relative;
  height: 100%;
}
#toolbar-year {
  font-size: 24px;
  padding: 0 8px;
  text-align: center;
  background-color: #2f4b7c;
  font-weight: 500;
  color: white;
}
#tool-main-content {
  height: calc(100% - 127px);
  overflow: auto;
  position: relative;
  padding: 4px;
  margin: 0;
}
#ward-error.active {
  background: white;
  position: absolute;
  z-index: 10;
  width: 100%;
  padding: 16px;
  font-size: 18px;
  text-align: center;
  font-weight: 500;
}
#toolbar-button {
  font-weight: bold;
  background-image: url(./assets/images/black-arrow.png);
  background-size: 15px;
  background-color: rgb(255, 255, 255);
  /* background-image: url("./assets/images/marker_peak_w_blue.png"); */
  background-repeat: no-repeat;
  background-position: center;
  font-size: 16px;
  width: 65px;
  height: 65px;
  cursor: pointer;
  border: 0px;
  padding: 0px;
  position: absolute;
  z-index: 100;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  overflow: hidden;
  top: 15px;
  left: 10px;
  line-height: 43px;
}

#toolbar-button:focus {
  outline: none;
}

#toolbar-button:hover {
  /* transform: scale(1.03); */
}

#toolbar-button.active:hover {
  transform: scale(1.03);
}
/* TOOLBAR */
#toolbar {
  display: none;
  height: calc(100% - 20px);
  width: 300px;
  margin-left: 10px;
  border-radius: 0 0 5px 5px;
  background: rgba(255, 255, 255, 0.39);
  position: absolute;
  top: 10px;
  z-index: 11;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  /* transition: height 1s, width 1s, padding 1s, visibility 1s, opacity 0.5s ease-out; */
}
@media screen and (max-width: 690px) {
  #toolbar {
    margin: 0;
    width: 100% !important;
    height: 100% !important;
    top: 0px;
  }
 
#toolbar-button.active {
  background-image: none;
  top: 15px;
  right: 20px;
  left: auto;
  width: 48px;
  height: 48px;
  border-radius: 50px;
  background-color: #ff4848;
}
#toolbar-button.active::before {
  color: #fff;
  font-weight: 300;
  content: "✕";
  padding-left: 10px;
  font-size: 35px;
}
  #time-chart-holder {
    display: none;
  }
  .map-overlay {
    bottom: 0;
    top: unset;
    width: 100%;
    right: unset;
    min-width: unset;
  }
  .map-legend {
    bottom: unset;
    top: 10px;
    right: 45px;
  }
}
#year{
  font-size: 18px;
  color: #212529;
  font-weight: bold;
}
.map-overlay-inner div{
  font-size: 18px;
  font-weight: 500;
}
/* TOOLBAR HEADER */
#toolbar-head {
  background-color: #fdfdfd;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* TOOLBAR CONTENT */
#tool-main-content {
  border-radius: 4px;
}
.kpi-container {
  border-radius: 4px;
  background-color: #fdfdfd;
  margin-bottom: 8px;
}
.kpi-icon {
  background-position: center center;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  border-radius: 4px 0 0 4px;
}
.kpi-number {
  font-size: 22px;
  font-weight: 500;
  padding-bottom: 8px;
}
.kpi-label {
  padding-top: 4px;
}
#incident-icon {
  background-image: url(./assets/images/bell.svg);
  background-color: #584f8c;
}
#response-icon {
  background-image: url(./assets/images/clock.svg);
  background-color: #584f8c;
}
#cost-icon {
  background-image: url(./assets/images/pound-sterling.svg);
  background-color: #584f8c;
}
#false-icon {
  background-image: url(./assets/images/false_a.png);
  background-color: #584f8c;
}
/* TIME CHART HOLDER */
#time-chart-holder {
  height: 150px;
  width: calc(100% - 20px);
  position: absolute;
  right: 0;
  background-color: white;
  bottom: 0;
  z-index: 2;
  border-radius: 4px;
  padding: 4px;
  margin: 10px;
}

/*  Toolbar CHart */
#fire-type-container,
#prop-type-container {
  height: 200px;
}
.toolbar-chart-container {
  border-radius: 4px;
  background-color: #fdfdfd;
  margin-bottom: 8px;
  text-align: center;
  font-weight: 500;
  padding-top: 4px;
}

/* HIGHCHARTS */
.highcharts-figure,
.highcharts-data-table table {
  min-width: 360px;
  margin: 0;
  height: 140px;
}
.highcharts-figure #container {
  height: 145px;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 100%;
}
.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}
.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}
.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}
.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}
.highcharts-data-table tr:hover {
  background: #f1f7ff;
}

.highcharts-figure-tooolbar {
  height: 200px;
}
.highcharts-figure-tooolbar .background {
  height: 200px;
}
/*  STYLE SCROLLL */
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f8f8f8;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(66, 66, 66);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(51, 51, 51);
}

 /* LOADING SCREEN */
 #loading-screen {
  background-size: 300px, 200px;
  visibility: visible;
  background-color: #20202079;
  height: 100%;
  width: 100%;
  z-index: 10000;
  position: absolute;
}
#loading-progress{
  background-image: url(./assets/images/firebrigade.png);
  background-size: 150px;
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
  width: 150px;
  background-color: #ffffff00;
  position: absolute;
  z-index: 10000;
  top: calc(50% - 50px);
  left: calc(50% - 75px);
  text-align: center;

}
#loading-progress div{
  margin-top: 110px;
  color: white;
  font-size: 26px;
}

 